body, html {
  height: 100%;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th, td{
  text-align: left;
  padding: 8px;
}
h1.titletext{
  color: green;
  text-align: center;
  font: bold;
  font-size: 40px;
  background-color: gold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sunny{
  background-image: url("../images/sunny.jpg");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.weathertext{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 50px;
  font-weight: bolder;
}

.freezing{
  background-image: url("../images/snowflake.png");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.chilly{
  background-image: url("../images/chilly.png");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.navbar{
  overflow: hidden;
  background-color:green;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 50px;
  text-align: center;
  z-index: 101;
}
navTitle{
  text-align: center;
  font-size: 40px;
}
.bordered{
  border-collapse: collapse;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  border: 5px solid black;
}

.main{
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

body{
  padding-top: 7cm;
  margin: 2px;
}

h2{
  font-size: 35px;
}
tr.archiveRow:nth-child(even){
  background-color: rgb(65, 176, 240);
}
tr.archiveRow:nth-child(odd){
  background: rgb(98, 175, 98);
}

table{
  border-collapse: collapse;
}
table, th{
  border: 2px solid black;
  text-align: center;
}
th{
  font-size: 20px;
}

td{
  text-align: center;
  font-size: 15px;
}
a{
  display: block;
  color: gold;
  background-color: green;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-top: -30px; 
}

a:hover{
  background-color: rgb(7, 90, 7);
}

h2.today{
  text-align: center;
}

table.navTable, td.navData{
  border-collapse: collapse;
  border: 10px solid black;
  font-size: 30px;
}
